:root {
    --main-color       : #178665;
    --title-color      : #252947;
    --text-color       : #111213;
    --light-text-color : #A0A7AC;
    --body-color : #274974;
}

body {
    background : var(--body-color);
    color : var(--text-color);
    margin: 0;
}
header, footer {
    background : var(--main-color );
    color : var(--text-color);
    margin: 0;  
}

h1, h2, h3 {
    color: var(--title-color);
}

p {
    color: var(--text-color);
}
