:root {
    --main-color       : #178665;
    --title-color      : #252947;
    --text-color       : #e2f2f7;
    --light-text-color : #A0A7AC;
    --body-color : #009ba7;
}

body {
    background : var(--body-color);
    color : var(--text-color);
}
h1, h2, h3 {
    color: var(--title-color);
}

p {
    color: var(--text-color);
}
