:root {
    --main-color  : #178665;
    --title-color : #6bc1db;
    --text-color  : #eceff1;
    --body-color  : #274974;
}
body {
    background : var(--body-color);
    color : var(--text-color);
}
header, footer {
    background : var(--main-color );
    color : var(--text-color);
    height: 150px;
    width: 100%;
}
h1, h2, h3 {
    color: var(--title-color);
}
h1{
    text-align: center;
    font-size: 6em;
    padding: 0;
    margin: 0;
}
p {
    color: var(--text-color);
}

html, body{
    height:100%;
}
body{
    margin:0;
    padding: 0px;
}
header{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:67.5%;
}
