form{
    font-size: 1.6em;
    text-align: center;
    max-width: 600px;
}

form input {
    width: 90%;
    height: 30px;
    border-radius: 10px;
}
  
form button {
   padding: 0.5em 1em;
   margin-top: 15px;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   width: 90%;
   height: 30px;
}