.formulario {
    background: rgba(233, 233, 233, 0.9);
    border-radius: 0.25rem;
    width: 500px;
    box-shadow: 0 0 30px 0 #c5c5c5;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 80%;
    font-size: 14px;
    padding: 10px 0 10px 0;
}

.textInput {
    font-size: 14px;
}

.rowBoton {
    align-items: center;
    justify-content: center;
}

.boton {
    font-size: 14px;
    width: 200px;
    margin: 50px 0 50px 0;
}

.span {
    font-style: italic;
    font-size: 14px;
    margin: -20px;
    margin-bottom: 20px;
    color: #e70000;
}