.formulario {
    width: 500px;
    border-radius: 0.55rem;
    background: rgb(80, 87, 122, 0.9);
    box-shadow: 0 0 30px 0 rgb(45, 52, 82);
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: auto;
    height: auto;
    padding-top: 50px;
}

.input {
    width: 80%;
    font-size: 14px;
    padding: 10px 0 10px 0;
    color: white;
}

.textInput {
    font-size: 14px;
}

.rowBoton {
    align-items: center;
    justify-content: center;
}

.boton {
    border: inherit;
    background-color: #404258;
    font-size: 14px;
    width: 200px;
    margin: 50px 0 50px 0;
}

.span {
    font-style: italic;
    font-size: 14px;
    margin: -20px;
    margin-bottom: 20px;
    color: #e70000;
}