<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>EncryptoManiac {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		{% endblock %}
	</head>
	<body class="hero is-info is-large">
		<header class="hero-head has-text-centered">
			<h1 class="title is-1" >Encrypto Maniac</h1>
		</header>
		<main class="hero-body content ">
			{% block main %}
			{% endblock %}
		</main>
		<footer class="hero-foot content ">
			{% block footer %}
			<h2>Otros datos :D</h1>
			<h3>Creado por</h3>
			<p>Agustin Allamano Costa</p>
			<p> <a href="mailto:allamanocostaagustin@gmail.com">allamanocostaagustin@gmail.com</a></p>
			{% endblock %}
		</footer>
	</body>
</html>