{% extends "baseinit.html" %}
{% block title %} Consulta {% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='consult.css') }}">
{% endblock %}
{% block main %}
	<h2>Consultas</h3><br>
	<table>
		<thead>
			<tr>
				<th>Nombre cuenta</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for cuenta in cuentas %}
			<tr>
				<td> {{ cuenta }} </td>
				<td> <button>Editar</button></td>
				<td> <button>Mostrar</button></td>
			</tr>
			{% endfor %}
			<tr>
				<td><button>Agregar Cuenta</button></td>
			</tr>
		</tbody>
	</table><br>
{% endblock %}