{% extends "baseInit.html" %}
{% block title %} Sing Up {% endblock %}
{% block main %}
	<form>
		<label>Nombre de usuario</label><br>
		<input type="text" id="nombreUsuario"><br>
		<label>Contraseña maestra</label><br>
		<input type="text" id="contraseniaMaestra"><br>
		<p>Estan contraseña tiene un minimo de 16 caracteres y no pueden ser solo numero o letras. Esto es asi ya que esta contraseña 
		te va a proporsionar acceso a tu catalogo de cuentas.
		</p><br>
		<input type="submit" value="Confirmar"><br>
	</form>
{% endblock %}